<div class="col-xs-12 col-md-2">
  <!-- PROFILE INFORMATION -->
  <div id="profile_info">
    <div id="profile_name">
      <h3>Hi, <%= @user.username %></h3>
      <div id="profile_picture">
        <%= image_tag(@user.avatar.url(:thumb)) %>
      </div>
      <hr>
      <div id="profile_bio">
        <% if @user.show_name?(current_user) %>
          First Name: <%= @user.first_name %><br>
          Last Name: <%= @user.last_name %><br>
        <% end %>

        <% if @user.show_date_of_birth?(current_user) %>
          Age: <%= time_ago_in_words(@user.date_of_birth) %><br>
        <% end %>

        <p><%= @user.bio %></p>
      </div>
      <hr>
    </div>
  </div>

  <% if @user.show_posts?(current_user) %>
    <div id="user_posts">
      <h3><%= @user.username %>'s Posts</h3>
      <hr>
      <% @user.posts.each do |post| %>
        <li>
          <ul><%= link_to(post.title, post_path(post)) %></ul>
        </li>
      <% end %>
    </div>
  <% end %>

  <%= link_to('Back', profiles_path) %>
</div>